/Demo/USER/*.uvproj
/Demo/USER/Visual Studio Project/*.sln
/Demo/USER/Visual Studio Project/*.filters
/Demo/USER/Visual Studio Project/*.user
/Demo/USER/Visual Studio Project/*.sdf
/Demo/USER/Visual Studio Project/*.suo
/Demo/USER/Visual Studio Project/*.vcxproj
/Demo/USER/*.apple
/Demo/USER/*.bak
/Demo/USER/*.uvopt
/Demo/USER/*.bak1
/Demo/USER/*.dep
/Demo/Listing/*.map
